<div class="jumbotron p-4">
  <h2><b>Editar | Citas</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', appointment: @appointment %>

	    <%= 
	      if session[:s_request_quotation_id]
	        link_to image_tag('BackIconBig.png'), request_quotation_path(session[:s_request_quotation_id]), title: 'Atras'
	      else 
	        link_to image_tag('BackIconBig.png'), appointments_path, title: 'Atras'
	      end
	    %>		
	</div>
</div>
