<div class="jumbotron p-4">
  <h2><b>Nuevo | Banco</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', bank: @bank %>

		<%= link_to image_tag('BackIconBig.png'), banks_path, title: 'Atras'  %>
	</div>
</div>
