<hr class="my-4">

<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">DESDE</p>
                    <p class="card-text"><i class="fas fa-dollar-sign"></i><strong> 499,500</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">ÁREA</p>
                    <p class="card-text"><i class="fas fa-chart-area"></i><strong> 88.36 m²</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">HABITACIONES</p>
                    <p class="card-text"><i class="fas fa-bed"></i><strong> 3 dorm</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>