<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-columna">
                <h4>Suscríbete</h4>
                <input type="email" placeholder="Escriba su Correo">
                <input type="submit" value=" Suscribirse">
            </div>

            <div class="footer-columna">
                <h4>Dirección</h4>
                <span class="fa fa-map-marker">
                    <p>244 Av. Los Incas - Peru</p>
                </span>
                <span class="fa fa-phone">
                    <p>(+51) 67 372373</p>
                </span>
                <span class="fa fa-envelope">
                    <p>info@constructorajyj.com</p>
                </span>
            </div>

            <div class="footer-columna">
                <h4>Sobre Nosotros</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellat autem, error iste
                    odio atque eum assumenda rem
                </p>
            </div>
        </div>
    </div>

    <div class="footer-copy-redes">
        <div class="main-copy-redes">
            <div class="footer-copy">
                &copy; 2019, Todos los derechos reservados - J&J Constructora
            </div>
            <div class="footer-redes">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-youtube"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>
    </div>
</footer>