<div class="jumbotron p-4">
  <h2><b>Nueva | Venta</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', sale: @sale %>

		<%= link_to image_tag('BackIconBig.png'), sales_path, title: 'Atras'  %>
	</div>
</div>
