<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6 offset3">
            <div class="text-center">
                <h1 class="display-5 text-secondary"><strong>Constructora J&J</strong></h1>
                <p class="lead font-italic">El mejor camino a tu próximo hogar.</p>
                <p class="lead font-italic">Encuentra propiedades en venta, alquileres y proyectos.</p>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="text-center m-3">
    <h2 class="text-primary text-uppercase"><strong>Proyectos destacados</strong></h2>
</div>