<div class="jumbotron p-4">


    <%= render 'home/cabecera' %>

    <div class="container">    
        <div class="row">
            <%= render 'home/projects' %>
        </div>
    </div>




</div>