<div class="jumbotron p-4">
  <h2><b>Editar | Precios por Tipo de Departamento</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', project_ap_type_price: @project_ap_type_price %>

		<%= link_to image_tag('ShowIconBig.png'), @project_ap_type_price, title: 'Ver' %> |
	    <%= 
	      if session[:s_project_apartment_type_id]
	        link_to image_tag('BackIconBig.png'), project_apartment_type_path(session[:s_project_apartment_type_id]), title: 'Atras'
	      else 
	        link_to image_tag('BackIconBig.png'), project_ap_type_prices_path, title: 'Atras'
	      end
	    %>				
	</div>
</div>
