
<div class="jumbotron p-4">
  <h2><b>Editar | Reserva de Departamentos</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', apartment_booking: @apartment_booking %>

		<%= link_to image_tag('ShowIconBig.png'), @apartment_booking, title: 'Ver' %> |
		<%= link_to image_tag('BackIconBig.png'), apartment_bookings_path, title: 'Atras'  %>
	</div>
</div>
