<h1>Editing Apartment Type Price</h1>

<%= render 'form', apartment_type_price: @apartment_type_price %>

<%= link_to 'Show', @apartment_type_price %> |
<%= link_to 'Back', apartment_type_prices_path %>
