<!-- Modal para signup.html.erb-->

<!-- Modal Registrar-->
<div class="modal fade" id="registerUser" tabindex="-1" role="dialog" aria-labelledby="registerUserTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerUserTitle">Registrar usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">  
                <p><h4>¿Seguro de registrar este nuevo usuario?</h4></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>