<div class="jumbotron p-4">
  <h2><b>Nuevo | Tipo de Departamento por Proyecto</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', project_apartment_type: @project_apartment_type %>

	    <%= 
	      if session[:s_project_id]
	        link_to image_tag('BackIconBig.png'), project_path(session[:s_project_id]), title: 'Atras'
	      else 
	        link_to image_tag('BackIconBig.png'), project_apartment_types_path, title: 'Atras'
	      end
	    %>
	</div>
</div>
