<div class="jumbotron p-4">
  <h2><b>Nuevo | Perfil</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', profile: @profile %>

		<%= link_to image_tag('BackIconBig.png'), profiles_path, title: 'Atras'  %>
	</div>
</div>
