<div class="jumbotron p-4">
  <h2><b>Editar | Departamento</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', project_apartment: @project_apartment %>

		<%= link_to image_tag('ShowIconBig.png'), @project_apartment, title: 'Ver' %> |
		
	    <%= 
	      if session[:s_project_id]
	        link_to image_tag('BackIconBig.png'), project_path(session[:s_project_id]), title: 'Atras'
	      else 
	        link_to image_tag('BackIconBig.png'), project_apartments_path, title: 'Atras'
	      end
	    %>  
	</div>
</div>
