<div class="container p-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 box-shadow p-4">
                <div class="text-center">
                    <i class="far fa-building fa-7x"></i>
                </div> 
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Administración de Precios Base</strong></h2>
                    <form>
                        <div class="form-group col-sm-6">
                            <label for="exampleFormControlSelect1"><strong>Proyectos</strong></label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Eliga un proyecto...</option>
                                <option>Proyecto Antares</option>
                                <option>Proyecto El Alamo</option>
                                <option>Proyecto Las Torres</option>
                                <option>Proyecto Las Aurora</option>
                            </select>
                        </div>


                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Proyectos</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Ver Proyecto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Proyecto Antares</td>
                                    <td>
                                        <input type="number" class="form-control col-sm-4" id="tarifaInput" min="120"
                                            placeholder="$">
                                    </td>
                                    <td>
                                        <a href=""><i class="fas fa-eye fa-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Proyecto El Alamo</td>
                                    <td>
                                        <input type="number" class="form-control col-sm-4" id="tarifaInput" min="120"
                                            placeholder="$">
                                    </td>
                                    <td>
                                        <a href=""><i class="fas fa-eye fa-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Proyecto Las Torres</td>
                                    <td>
                                        <input type="number" class="form-control col-sm-4" id="tarifaInput" min="120"
                                            placeholder="$">
                                    </td>
                                    <td>
                                        <a href=""><i class="fas fa-eye fa-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>