<div class="jumbotron p-4">

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-5 text-danger"><strong>CONSTRUCTORA J&J</strong></h1>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center m-3">
        <h1><strong>INTRANET</strong></h1>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-users fa-7x"></i>
                    </div>
                    <!-- <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio1_opt.jpg') %>  -->
                    <div class="card-body">
                        <h5 class="card-title">Solicitud de Cotizaciones</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="" class="btn btn-primary">Cotizaciones</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-project-diagram fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Registrar Nuevo proyecto</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="" class="btn btn-primary">Nuevo proyecto</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-users fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Registrar Usuarios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="" class="btn btn-primary">Usuarios</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-file-alt fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Generar Proformas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="" class="btn btn-primary">Proformas</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-dollar-sign fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Registrar Ventas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="" class="btn btn-primary">Ventas</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-chart-pie fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Generar Reportes</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="" class="btn btn-primary">Reportes</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>