<div class="container p-1">


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2><strong>Generar Proforma J&J</strong></h2>
                    <h4><strong>Formulario de datos</strong></h4>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control col-sm-12" id="validationTooltipUsername"
                                placeholder="Ingrese cliente" aria-describedby="validationTooltipUsernamePrepend"
                                required>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend"><i
                                        class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">DNI</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese su DNI">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Proyecto</label>
                            <select id="inputState" class="form-control col-sm-8">
                                <option selected>Eliga un proyecto...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Nombres</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Ubicación</label>
                            <select id="inputState" class="form-control col-sm-8">
                                <option selected>Eliga ubicación...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Apellido</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese apellido">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Estado</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese estado">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="email" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Nro Departamento</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese nro departamento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Telefono</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese telefono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">F. Entrega</label>
                            <input type="date" class="form-control col-sm-8" id="formGroupExampleInput">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Celular</label>
                            <input type="text" class="form-control col-sm-8" id="formGroupExampleInput"
                                placeholder="Ingrese celular">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-info btn-lg">Generar Proforma</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















</div>