<div class="jumbotron p-4">
  <h2><b>Nuevo | Solicitud de Cotización</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', request_quotation: @request_quotation %>

		<%= link_to image_tag('BackIconBig.png'), request_quotations_path, title: 'Atras'  %>
	</div>
</div>
