<div class="jumbotron p-4">
  <h2><b>Nuevo | Cliente</b></h2>
	<div class="table-responsive-sm w-50">
		<%= render 'form', client: @client %>

		<%= link_to image_tag('BackIconBig.png'), clients_path, title: 'Atras'  %>
	</div>
</div>
