<div class="container p-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title text-center"><strong>Administración de Citas</strong></h1>
                    <hr class="my-4">
                    <div class="container">
                        <div class="row">
                            <div class="col sm-4">
                                <div class="form-group">
                                    <label for="formGroupExampleInput"><strong>Proyectos</strong></label>
                                    <select class="form-control">
                                        <option>Seleccione un proyecto...</option>
                                        <option>Proyecto Las Lomas</option>
                                        <option>Proyecto La Aurora</option>
                                        <option>Proyecto Las Torres</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col sm-4">
                                <div class="form-group">
                                    <label for="formGroupExampleInput"><strong>Cliente</strong></label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                        placeholder="Ejem. 'Juan Perez'">
                                </div>
                            </div>
                            <div class="col sm-4">
                                <div class="form-group p-4">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-info btn-lg">Buscar Cita</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col sm-4">
                                <div class="form-group">
                                    <label for="formGroupExampleInput"><strong>Fecha de Cita</strong></label>
                                    <input type="date" class="form-control" id="formGroupExampleInput">
                                </div>
                            </div>
                        </div>
                    </div>


                    <form>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Fecha de cita</th>
                                    <th scope="col">Proyecto</th>
                                    <th scope="col">Estado cita</th>
                                    <th scope="col">Atendida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Adrian Huamani</td>
                                    <td>
                                        <input class="form-control col-sm-10" type="text" placeholder="966423407">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" id="formGroupExampleInput">
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Sel. proyecto...</option>
                                            <option>Proyecto Las Lomas</option>
                                            <option>Proyecto La Aurora</option>
                                            <option>Proyecto Las Torres</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Sel. Estado</option>
                                            <option>Confirmado</option>
                                            <option>Anulado</option>
                                            <option>Reprogramado</option>
                                            <option>Pendiente</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>SI</option>
                                            <option>No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Juan Perez</td>
                                    <td>
                                        <input class="form-control col-sm-10" type="text" placeholder="976541370">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" id="formGroupExampleInput">
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Sel. proyecto...</option>
                                            <option>Proyecto Las Lomas</option>
                                            <option>Proyecto La Aurora</option>
                                            <option>Proyecto Las Torres</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Sel. Estado</option>
                                            <option>Confirmado</option>
                                            <option>Anulado</option>
                                            <option>Reprogramado</option>
                                            <option>Pendiente</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>SI</option>
                                            <option>No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Maria Torres</td>
                                    <td>
                                        <input class="form-control col-sm-10" type="text" placeholder="909834512">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" id="formGroupExampleInput">
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Sel. proyecto...</option>
                                            <option>Proyecto Las Lomas</option>
                                            <option>Proyecto La Aurora</option>
                                            <option>Proyecto Las Torres</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Sel. Estado</option>
                                            <option>Confirmado</option>
                                            <option>Anulado</option>
                                            <option>Reprogramado</option>
                                            <option>Pendiente</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>SI</option>
                                            <option>No</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="card">
                            <div class="card-header">
                                MODIFICAR ESTADO DE CITA
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col sm-4">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput"><strong>Cliente</strong></label>
                                            <input type="text" class="form-control" id="formGroupExampleInput"
                                                placeholder="Ejem. 'Juan Perez'">
                                        </div>
                                    </div>
                                    <div class="col sm-4">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput"><strong>Fecha de Cita</strong></label>
                                            <input type="date" class="form-control" id="formGroupExampleInput">
                                        </div>
                                    </div>
                                    <div class="col sm-4">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput"><strong>Proyecto</strong></label>
                                            <select class="form-control">
                                                <option>Seleccione proyecto...</option>
                                                <option>Proyecto Las Lomas</option>
                                                <option>Proyecto La Aurora</option>
                                                <option>Proyecto Las Torres</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col sm-4">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput"><strong>Estado de Cita</strong></label>
                                            <select class="form-control">
                                                <option>Seleccione estado</option>
                                                <option>Confirmada</option>
                                                <option>Suspendida</option>
                                                <option>Reprogramada</option>
                                                <option>Anulada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><strong>Atendido</strong></label>
                                        <select class="form-control">
                                            <option>...</option>
                                            <option>SI</option>
                                            <option>No</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row m-4">

                            <div class="col-sm-8">
                                <button type="button" class="btn btn-info btn-lg">Guardar Cita</button>
                                <button type="button" class="btn btn-info btn-lg">Cancelar</button>
                            </div>

                            <div class="col-sm-4">
                                <button type="button" class="btn btn-info btn-lg">Proforma</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>