<div class="container p-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 box-shadow p-4">
                <div class="text-center">
                    <i class="far fa-building fa-7x"></i>
                </div> 
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Administración de Precios Base</strong></h2>
                    <form>
                        <div class="form-row  p-4">
                            <div class="form-group col-sm-6">
                                <label for="exampleFormControlSelect1"><h5><strong>Proyectos</strong></h5></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Eliga un proyecto...</option>
                                    <option>Proyecto Antares</option>
                                    <option>Proyecto El Alamo</option>
                                    <option>Proyecto Las Torres</option>
                                    <option>Proyecto Las Aurora</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="exampleFormControlSelect1"><h5><strong>Ingrese Precio Base</strong></h5></label>
                                <input type="text" class="form-control" placeholder="Precio base">
                            </div>
                        </div>

                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Proyectos</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col" class="text-center">Ver Proyecto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Proyecto Antares</td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Precio base">
                                        </td>
                                        <td class="text-center">
                                            <a href="" data-toggle="modal" data-target="#seeprojectModal">Ver mas</a>
                                            <%= render 'pages/administration/modal' %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Proyecto El Alamo</td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Precio base">
                                        </td>
                                        <td class="text-center">
                                            <a href="" data-toggle="modal" data-target="#seeprojectModal">Ver mas</a>
                                            <%= render 'pages/administration/modal' %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Proyecto Las Torres</td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Precio base">
                                        </td>
                                        <td class="text-center">
                                            <a href="" data-toggle="modal" data-target="#seeprojectModal">Ver mas</a>
                                            <%= render 'pages/administration/modal' %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>