<div class="jumbotron p-4">

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-5 text-danger"><strong>CONSTRUCTORA J&J</strong></h1>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center m-3">
        <h1><strong>INTRANET</strong></h1>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-file-signature fa-7x"></i>
                    </div>
                    <!-- <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio1_opt.jpg') %>  -->
                    <div class="card-body">
                        <h5 class="card-title text-danger">Solicitud de Cotizaciones</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a class="btn btn-primary btn-lg" <%= link_to "Cotizacion", :controller => "requestquotation", :action => :new %>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-project-diagram fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Registrar Nuevo proyecto</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a class="btn btn-primary btn-lg" <%= link_to "Proyectos", :controller => "project", :action => :new %>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-users fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Registrar Usuarios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a class="btn btn-primary btn-lg" <%= link_to "Usuarios", :controller => "login", :action => :signup %>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-file-alt fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Generar Proformas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="proforma" class="btn btn-primary btn-lg">Proformas</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-dollar-sign fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Registrar Ventas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="register_sales" class="btn btn-primary btn-lg">Ventas</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-chart-pie fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Generar Reportes</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="report" class="btn btn-primary btn-lg">Reportes</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-file-invoice-dollar fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Administración de precios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="base_price" class="btn btn-primary btn-lg">Precios</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow p-4">
                    <div class="text-center">
                        <i class="fas fa-cash-register fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Administración de citas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <a href="admin_quotes" class="btn btn-primary btn-lg">Citas</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>