<div class="container p-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 box-shadow p-4">
                <div class="text-center">
                    <i class="fas fa-money-check-alt fa-7x"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Registrar Ventas</strong></h2>
                    <form>
                        <div class="text-center p-3">
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Contado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Financiado</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row offset-md-4">
                            <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Nro operación</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control col-sm-4" id="formGroupExampleInput"
                                    placeholder="436788843">
                            </div>
                        </div>
                        <div class="form-group row offset-md-4">
                            <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Monto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control col-sm-4" id="formGroupExampleInput2" placeholder="$">
                            </div>
                        </div>
                        <div class="form-group row offset-md-4">
                            <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Monto adic.</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control col-sm-4" id="formGroupExampleInput2" placeholder="$">
                            </div>
                        </div>
                        <div class="text-center p-2">
                            <button type="button" class="btn btn-info btn-lg">Guardar Venta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>