<div class="container p-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 box-shadow p-4">
                <div class="text-center">
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Dashboard: Monitoreo Procesos de Negocio</strong></h2>
                    <form>
                        <div class="text-center p-3">
                        <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTZlODMyMGItMTRkMi00ZGQ3LWJjMjUtZmEwMTJmZWViMjBlIiwidCI6ImY3NmRjNzVmLWFhMTctNDVmMi05ODY2LTUwNzI2OGZlMjBmMiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            </thead>
                            <tbody>
                                    <td class="text-center">

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
